
.containers {
    background-color: rgb(230, 230, 230);
    text-align: center;
    justify-content: center;
    margin-left: 250px;
    margin-right: 250px;
    margin-top: 50px;
    margin-bottom: 20px;
    padding: 100px;
    font-family: Helvetica;
    font-weight: bold;
    border-radius: 25px;
}

#title {
    font-family: Helvetica;
    font-weight: bold;
    font-size: 50px;
    margin-top: 200px;
    margin-top: 50px;
    text-align: center;
    color: rgb(229, 123, 31);
}

body {
    background-color: rgb(248, 248, 248);
}

.address {
    font-weight: normal;
}

.location-name {
    font-size: 30px;
}

.time {
    font-family: Helvetica;
    font-weight: bold;
    font-size: 30px;
    margin-top: 200px;
    margin-top: 50px;
    text-align: center;
    color: rgb(168, 87, 16);
}